*classes
*.class
target/
build/
build_eclipse/
out/
.gradle/
.idea
.svn
.classpath
/.metadata
/.recommenders
*~
*#
.#*
rat.out
TAGS
*.iml
.project
.settings
*.ipr
*.iws
.vagrant
Vagrantfile.local
/logs
.DS_Store

gradle/wrapper/*.jar
gradlew.bat

results
.cache

docs/generated/

.release-settings.json

systest/
*.swp
